:root{
    --primary-color: #0F9D58;
    --background-color: #f0f3f7;
    --secon-color: #9da2ad;
    --grey: #7a7a7b;
    --white: #ffffff;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: unset;
    text-decoration: none;
}

body, html{
    background-color: var(--background-color);
    scroll-behavior: smooth;
    position: relative;
    overflow-x: hidden;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--background-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.menu-wrap{
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.logo{
    font-size: 2rem;
    font-weight: 800;
    color: var(--primary-color);
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item{
    margin-left: 1rem;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    color: var(--grey);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.menu-item:hover, .menu-item:active{
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 1rem;
}

.cart-btn{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 2rem;
    cursor: pointer;
    transition: 0.5 ease-in-out;
}

.cart-btn:hover{
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 1rem;
}

.fullheight{
    height: 100vh;
}

.align-items-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-fixed{
    background-attachment: fixed;
}

.container{
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

section{
    padding: 9rem 0;
}

/* grid system */

.row{
    display: flex;
    flex-wrap: wrap;
}

[class*="col-"] {
    padding: 1rem;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.mb-nav {
    display: none;
}